In [1]:
import pandas as pd 
import numpy as np

In [3]:
data=pd.read_csv('marketing_customer_analysis.csv')
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [4]:
data.columns=data.columns.astype("str")

In [5]:
data.columns=data.columns.map(str.upper)

In [6]:
data.columns

Index(['UNNAMED: 0', 'CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE',
       'RESPONSE', 'COVERAGE', 'EDUCATION', 'EFFECTIVE TO DATE',
       'EMPLOYMENTSTATUS', 'GENDER', 'INCOME', 'LOCATION CODE',
       'MARITAL STATUS', 'MONTHLY PREMIUM AUTO', 'MONTHS SINCE LAST CLAIM',
       'MONTHS SINCE POLICY INCEPTION', 'NUMBER OF OPEN COMPLAINTS',
       'NUMBER OF POLICIES', 'POLICY TYPE', 'POLICY', 'RENEW OFFER TYPE',
       'SALES CHANNEL', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS', 'VEHICLE SIZE',
       'VEHICLE TYPE'],
      dtype='object')

In [7]:
num_col = data.select_dtypes(include=['float64']).columns
display(num_col)
cat_col = data.select_dtypes(include=['object']).columns
display(cat_col)

Index(['CUSTOMER LIFETIME VALUE', 'MONTHS SINCE LAST CLAIM',
       'NUMBER OF OPEN COMPLAINTS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')

Index(['CUSTOMER', 'STATE', 'RESPONSE', 'COVERAGE', 'EDUCATION',
       'EFFECTIVE TO DATE', 'EMPLOYMENTSTATUS', 'GENDER', 'LOCATION CODE',
       'MARITAL STATUS', 'POLICY TYPE', 'POLICY', 'RENEW OFFER TYPE',
       'SALES CHANNEL', 'VEHICLE CLASS', 'VEHICLE SIZE', 'VEHICLE TYPE'],
      dtype='object')

In [8]:
data.columns[data.isna().any()].tolist()

['STATE',
 'RESPONSE',
 'MONTHS SINCE LAST CLAIM',
 'NUMBER OF OPEN COMPLAINTS',
 'VEHICLE CLASS',
 'VEHICLE SIZE',
 'VEHICLE TYPE']

In [11]:
data['month'] = pd.DatetimeIndex(data['EFFECTIVE TO DATE']).month
data.head()

,UNNAMED: 0,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENTSTATUS,GENDER,...,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,VEHICLE TYPE,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1